@import 'style.css';

.main {
}
.hero__container {
  padding-block: 41px 76px;
  padding-inline: 377px 95px;
  transition: padding 0.3s ease;
}
.dashboard {
  position: fixed;
  left: 0;
  top: 0;
  transition: left 0.3s ease;
  height: 100%;
}
.dashboard__body {
  display: flex;
  flex-direction: column;
  width: 306px;
  row-gap: 65px;
  background-color: var(--global-white);
  box-shadow: var(--shadow-dashboard);
  padding-block: 36px 76px;
  padding-inline: 28px;
  min-height: 100vh;
  overflow: auto;
  height: 100%;
}
.hero {
  overflow: hidden;
}

.dashboard__logo {
  font-size: 0;
}
.dashboard__logo svg {
  width: 100%;
  max-width: 217px;
}
.dashboard__list {
  color: var(--global-grey-40);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.hero__user-name {
  margin-block-end: 51px;
}
.user-name {
  font-size: 24px;
  line-height: normal;
}
.hero__body {
  background-color: var(--global-white);
  box-shadow: var(--shadow-dashboard);
  border-radius: 30px;
  padding-block: 30px 40px;
  padding-inline: 38px 40px;
  overflow: hidden;
}
.hero__section-header {
  margin-block-end: 40px;
}
.hero__table {
  margin-block-end: 32px;
}
.table {
  color: var(--global-black-80);
  line-height: normal;
  letter-spacing: -0.14px;
  width: 100%;
  text-align: left;
  overflow-x: auto;
}
.table__row {
  padding-block: 20px;
  border-bottom: 1px solid var(--global-grey-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.table__row > th {
  flex-shrink: 0;
}
.table__row th:nth-of-type(1) {
  flex-basis: 120px;
}
.table__row th:nth-of-type(2) {
  flex-basis: 84px;
}
.table__row th:nth-of-type(3) {
  flex-basis: 110px;
}
.table__row th:nth-of-type(4) {
  flex-basis: 170px;
}
.table__row th:nth-of-type(5) {
  flex-basis: 95px;
}
.table__row th:nth-of-type(6) {
  flex-basis: 80px;
  text-align: center;
}
.table__row--header {
  color: var(--global-grey-20);
  padding-block: 0px 14px;
}
.table__status {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
}
.table__status--active {
  color: var(--global-green-60);
  background: var(--active);
  border: 1px solid var(--global-green-40);
}
.table__status--inactive {
  color: var(--global-red-80);
  border: 1px solid var(--global-red-80);
  background: var(--inactive);
}

.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.hero__amount {
  color: var(--global-grey-20);
  line-height: normal;
  letter-spacing: -0.14px;
}
.hero__pagination {
}
@media (min-width: 767.98px) {
  .dashboard__arrow {
    display: none;
  }
}
@media (max-width: 1439.98px) {
  .hero__container {
    column-gap: 15px;
    padding-inline: 321px 15px;
  }
}
@media (max-width: 991.98px) {
  .hero__container {
    padding-inline: 215px 15px;
  }
  .dashboard__body {
    width: 200px;
    padding-inline: 10px;
  }
  .hero__body {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .dashboard__link span,
  .link__arrow {
    display: none;
  }
  .hero__body {
    border-radius: 30px 0px 0px 30px;
  }
  .hero__container {
    padding-inline: 81px 0px;
  }
  .close-dashboard .hero__container {
    padding-inline: 15px 0px;
  }
  .dashboard__body {
    width: 66px;
  }
  .dashboard__arrow {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0px, -50%);
    font-size: 36px;
    color: var(--global-purple-80);
  }
  .close-dashboard .dashboard {
    left: -66px;
  }
}
